---
import { Image as AstroImage } from 'astro:assets'

type Props = {
  src: string;
  alt: string;
}

const { src: source, alt } = Astro.props;

const images = import.meta.glob<ImageMetadata>('/src/assets/images/*.jpg', { import: "default" })
const src = await images[source]();
---

<div class="w-max mx-auto my-12 overflow-hidden flex items-center">
  <AstroImage src={src} alt={alt} width={960} height={360} class="max-w-[100vw]" />
</div>