---
import type { ImageData } from '@model';
import { getImage } from 'astro:assets'


type Props = {
  imageData: ImageData
}

const { imageData } = Astro.props;
const image = await getImage({src: `/src/assets/images/${imageData.filename}`, width: 960, height: 360 });
---

<div class="w-max mx-auto my-12 overflow-hidden flex items-center">
  <img src={image.src} alt={imageData.alt} width={960} height={360} class="max-w-[100vw]" />
</div>