---
import type { Part } from '@model';
import Card from '@components/Card.astro';
import Layout from '@layouts/Layout.astro';

export async function getStaticPaths() {
  const parts: Part[] = await Astro.glob("/src/assets/*.json");

  return parts.map(({ id, fables }) => ({
    params: { id },
    props: { fables }
  }))
}

const { id } = Astro.params;
const { fables } = Astro.props;

---

<Layout title={`Bajki i Przypowieści | Część ${id}`}>
  <div class="mx-auto w-max">
    { fables.map(fable => <Card {...fable} />) }
  </div>
  </Layout>